@import 'tailwindcss';

@theme {
  --color-bg: #131a24;
  --color-bg-soft: #192330;
  --color-bg-dim: #212e3f;
  --color-bg-muted: #29394f;

  --color-fg: #d6d6d7;
  --color-fg-muted: #aeafb0;
  --color-fg-dim: #71839b;

  --color-accent: #719cd6;
  --color-accent-hover: #86abdc;
  --color-accent-muted: #6085b6;

  --color-border: #29394f;
  --color-selection: #2b3b51;

  --color-danger: #c94f6d;
  --color-success: #81b29a;
  --color-warning: #dbc074;
}

/* geist-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/fonts/geist-mono-v6-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../lib/fonts/geist-mono-v6-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-mono-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 800;
  src: url('../lib/fonts/geist-mono-v6-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geist-mono-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 800;
  src: url('../lib/fonts/geist-mono-v6-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Monaspace Argon NF';
  font-style: normal;
  font-weight: 400;
  src: url('/src/lib/fonts/MonaspaceArgonNF-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* google-sans-code-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Monaspace Argon NF';
  font-style: italic;
  font-weight: 400;
  src: url('/src/lib/fonts/MonaspaceArgonNF-Italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}